body {
  margin: 0 0 2em 0;
  padding: 0;
  font-family: sans-serif;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-size: 1.7em/1.2;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 0.4em;
}

a:hover {
  text-decoration: none;
}

a:not([class]) {
  line-height: inherit;
  color: currentColor !important;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid currentColor;
}

a:not([class]):hover,
a:not([class]):focus,
a:not([class]):active {
 border-bottom-width: 2px;
 margin-bottom: -0.125rem;
}
  
.job-title a {
  line-height: 1.35;
}